/* _content/UCD_Server/Views/Shared/_Layout.cshtml.rz.scp.css */
.border-top[b-pcuv9vlfuo] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-pcuv9vlfuo] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-pcuv9vlfuo] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.footer[b-pcuv9vlfuo] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

.text-center[b-pcuv9vlfuo]{
    text-align:center;
}
